{% extends "base.html" %}

{% block title %}Study | CTDMS{% endblock %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex align-items-center align-text-top">
          <h6>Add New Study</h6>
        </div>
        <div class="card-body">
          <form action="/addstudy" method="post">
            <div class="row">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="alert alert-success text-white">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
              {% endif %}
              {% endwith %}
              <div class="col-md-6">
                <div class="form-group">
                  <label for="study_id" class="form-control-label">Study ID</label>
                  <input class="form-control" type="text" id="study_id" name="study_id" placeholder="Enter Study ID"
                    required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name" class="form-control-label">Name</label>
                  <input class="form-control" type="text" id="name" name="name" placeholder="Enter Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="type" class="form-control-label">Type</label>
                  <input class="form-control" type="text" id="type" name="type" placeholder="Enter Type">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="criteria" class="form-control-label">Criteria</label>
                  <input class="form-control" type="text" id="criteria" name="criteria" placeholder="Enter Criteria">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="role" class="form-control-label">Drug of Interest ID</label>
                  <select class="form-control" id="drug_of_interest_id" name="drug_of_interest_id" required>
                    {% for drug in drugs %}
                    <option value="{{ drug.drug_id }}">{{ drug.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12 flex d-flex justify-content-end">
              <button type="submit" id="confirmBtn" class="btn bg-gradient-primary btn-sm ms-auto">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}